html {
    font-family: sans-serif;
  }
  body {
    margin: 0;
  }
  header {
    background: #333333;
    height: 80px;
    width:100%;
    color: #fff;
  }
.header-middle{
    width: 960px;
    margin:0 auto;
}
.titleRef{
    float:right;
}
.titleRef a{
    color:white;
    font-size: 15px;
}
.titleLogo{
    float:left;
}
.banner{
    position: relative;
    width:100%;
    height:100px;
    background-color: #66BB33;
}
.page1, 
.page2,
.page3,
.page4 {
    position: absolute;
    bottom: 10px;
    width: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #999999;
    background-color: #EEEEEE;
    cursor: pointer;
}
.page4 {
    right: 200px;
}
.page3 {
    right: 230px;    
}
.page2 {
    right: 260px;
}
.page1 {
    right: 290px;
}
.nav{
    width: 100%;
    height:80px;
    border-bottom: 1px solid #cccccc;
}
.nav-tags{
    margin: 0 auto;
    width: 960px;
    height: 60px;
}
.nav-home,
.nav-profile,
.nav-about {
    float: left;
    box-sizing: border-box;
    margin-top: 20px;
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 45px;
    border: 1px solid #CCC;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #fff;
    cursor: pointer;
}
.nav-profile,
.nav-about {
    background-color: #DDD;
}
.main-container {
    position: absolute;
    margin-top:80px;
    width: 960px;
}
.row {
    display: flex;
}
.grid-cell {
    flex: 1 1 auto;
    box-sizing: border-box;
    margin: 5px;
    min-width: 200px;
    height: 160px;
    line-height: 160px;
    text-align: center;
    border: 1px solid #DDD;
    box-shadow: 0 0 5px #DDD;
}
.footer {
    position: absolute;
    box-sizing: border-box;
    padding-top: 20px;
    margin-top: 600px;
    left:0;
    width: 100%;
    height: 80px;
    color: #fff;
    text-align: center;
    background-color: #888888;
}
