html {
    font-family: sans-serif;
  }
  body {
    margin: 0;
  }
  header {
    background: purple;
    height: 100px;
  }
  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }
  section{
    clear:both;
  }
  article {
    padding: 5px;
    margin: 5px;
    background: aqua;
    box-sizing: border-box;
    clear: both;
  }
  .middle {
    margin: 0 160px;
    background-color: #ffe6b8;
}   
.left,.right {
    width: 150px;
    background-color: #a0b3d6;
}
.left {
    float: left;
}
.right {
    float: right;
}